
$color-text-light: rgb(218, 218, 218);
$color-text-dark: black;

$color-pri-light: #62727b;
$color-pri-med:   #37474f;
$color-pri-med-dark:   #263238;
$color-pri-dark:  #102027;

$color-sec-med:   #9b27af;
$color-sec-dark:  #69007f;
$color-sec-light: #cf5ce2;
